#about {
	background-color: $offWhite;
	h3 {
		text-align: center;	
		color: $offBlack;
	}
	.aboutContent {
		display: flex;
		.aboutText {
			flex: 1 0 70%;
			.socialIcons {
				display: flex;
				justify-content: space-around;
				i {
					color: $offBlack;
					font-size: 5rem;
					transition: all 0.5s ease-in-out;
					&:hover {
						color: $accentPop;
					}
				}
			}
		}
		.aboutImage {
			flex: 1 0 30%;
			padding: 20px;
			img {
				border-radius: 25%;
			}
		}
	}
}