#home {
	height: 100vh;
	position: relative;
	background-size: cover;
	.heroWrapper {
		position: relative;
		max-width: 1080px;
		margin: 0 auto;
		text-align: right; 
		.heroWrapperContent {
			position: relative;
			bottom: 72px;
			padding: 300px 20px 0 0;
		}
	}
	h1 {
		color: $accent;
		// text-shadow: 4px 2px 0 rgba(2,8,52,0.7);
	}
	.lastName {
		color: $accentIntense;
	}
	h3 {
		color: $darkBlue;
		line-height: 24px;
	}
	i {
		font-size: 5rem;
		color: $accent;
		// text-shadow: 4px 2px 0 rgba(2,8,52,0.7);
		padding-top: 26px; 
	}
}