// **************************
//  Responsive
// **************************

// Landscape phone to portrait table-layout

@media (max-width: 1233px) {
	#about {
		.aboutWrapper {
			.aboutContent {
				.mediumImage {
					display: block;
				}
				
			}	
		}
		.aboutImage {
			display: none;
		}
	}
}

@media (max-width: 940px) {

	#skills {
		.skillsContent {
			.skillsGallery {
				.skillsEntry {
					flex: 1 0 25%;
				}
			}
		}
	}

	#portfolio {
		.portfolioItem {
			.portfolioItemDetails {
				.portfolioImage {
					flex: 1 0 100%;
					height: 400px;
				}
				.portfolioDescription {
					flex: 1 0 100%;
				}
			}
		}
	}
}

// Landscape phones and down
@media (max-width: 768px) {
	#home {
		h1, .lastName {
			font-size: 6rem;
		}
		h3 {
			font-size: 2rem;
		}
		i {
			font-size: 4rem;
		}
	}

	#about {
		.aboutWrapper {
				.mobileImage {
					display: block;
					flex: 1 0 100%;
				}
			.aboutContent {
				.aboutText {
					flex: 1 0 100%;
				}
				.mediumImage {
					display: none;
				}
			}
		}
	}

	#nav {
		padding: 0;
		.menu {
			display: none;
		}
		i {
			display: inline-block;
			margin: 0 auto;
		}
	}

	#skills {
		.skillsContent {
			.skillsGallery {
				.skillsEntry {
					flex: 1 0 50%;
				}
			}
		}
	}

	#portfolio {
		.portfolioItem {
			.portfolioItemDetails {
				.portfolioImage {
					height: 300px;
				}
			}
		}
	}
	
	#contact {
		.wpcf7-email, .wpcf7-text {
			width: 100%;
		}
		.wpcf7-textarea {
			width: 100%;
		}
		.wpcf7-submit {
			width: 100%;
		}
	}
}

//Portrait phones and down
@media (max-width: 480px) {
	#home {
		.heroWrapper {
			padding: 20px;
			text-align: center;
		}
		h1, .lastName {
			font-size: 3.5rem;
		}
		h3 {
			font-size: 1.5rem;
			// color: $offWhite;
		}
		i {
			padding-top: 15px;
			font-size: 2.5rem;
		}
	}

	#about {
		.aboutContent {
			.aboutImage {
				img {
					height: 200px;
				}
			}
		}
	}

	#skills {
		.skillsContent {
			.skillsGallery {
				.skillsEntry {
					flex: 1 0 100%;
				}
			}
		}

	}

	#divider {
		background-size: initial;
		background-attachment: scroll;
	}

	#portfolio {
		.portfolioItem {
			.portfolioItemDetails {
				.portfolioImage {
					height: 200px;
				}
			}
		}
	}
	
	#contact {

	}
}

//Portrait phones and down
@media (max-width: 480px) {
	body {
		.wrapper {
		padding: 95px 25px 25px 25px;
		}
	}
	#about {
		.aboutContent {
			.aboutImage {
				img {
					height: 150px;
				}
			}
		}
	}
	#contact {
		background-color: transparent;
	}
}