#portfolio {
	background-color: $offWhite;
	.portfolioItem {
			margin: 20px 0 60px 0;
		.portfolioItemDetails {
			display: flex;
			flex-wrap: wrap;
			border-right: 4px solid $accentPop;
			border-bottom: 4px solid $accentPop;
			.portfolioImage {
				flex: 1 0 40%;
				background-size: cover;
				background-position: center;
			}
			.portfolioDescription {
				flex: 1 0 60%;
				background-image: url('images/lodyas.png');
				background-color: rgba(2,8,52,0.5);
				background-blend-mode: darken;
				padding: 25px 35px;
				h4 {
					color: $accentPop;
				}
				p {
					color: $offWhite;
				}
				.viewSite {
					display: inline-block;
					margin-top: 10px;
					text-transform: lowercase;
					text-decoration: none;
					border: 3px solid $accentIntense;
					padding: 10px;
					transition: all 0.5s ease-in-out;
					&:hover, &:focus {
						color: $accentIntense;
						border: 3px solid $offWhite;
					}
				}
			}
		}
	}
	a {
		text-decoration: underline;
		transition: 0.5s all ease-in-out;
	}
}