#portfolio {
	background-color: $offWhite;
	.portfolioItem {
		.portfolioItemDetails {
			margin: 20px 0;
			display: flex;
			border-right: 4px solid $accentPop;
			border-bottom: 4px solid $accentPop;
			.portfolioImage {
				flex: 1 0 35%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				img {
					display: block;
				}
			}
			.portfolioDescription {
				flex: 1 0 65%;
				background-image: url(images/lodyas.png);
				background-color: rgba(2,8,52,0.5);
				background-blend-mode: darken;
				padding: 30px;
				h4 {
					color: $accentPop;
				}
				p {
					color: $offWhite;
				}
				.viewSite {
					display: inline-block;
					margin-top: 10px;
					text-transform: lowercase;
					text-decoration: none;
					border: 3px solid $accentIntense;
					padding: 10px;
					transition: all 0.5s ease-in-out;
					&:hover {
						color: $accentIntense;
						border: 3px solid $offWhite;
					}
				}
			}
		}
	}
	a {
		text-decoration: underline;
		transition: 0.5s all ease-in-out;
	}
}