#skills {
	background-image: url(images/lodyas.png);
	background-color: rgba(2,8,52,0.5);
	background-blend-mode: darken;
	h2 {
		color: accentPop;
	}

	p {
		color: $offWhite;
	}
	.skillsContent {
		.skillsSummary {
			width: 100%;
			color: $offWhite;
			font-family: $mainFont;
			padding-bottom: 20px;
		}
		.skillsGallery {
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			.skillsEntry {
				flex: 1 0 20%;
				i {
					font-size: 6rem;
					color: $accentPop;
				}
				p {
					color: $accent;
					font-size: 2rem;
				}
			}
		}
	}
}