// Colours

$offWhite: #FAFBFF;
$offBlack: #040E2B;
$darkBlue: #020834;
$lightBlue: #405885;
$accent: #FCF5C3;
$accentIntense: #FCBB6B;
$accentPop: #FF5833;

// Fonts

$mainFont: 'Martel Sans', sans-serif;
$headingFont: 'Palanquin Dark', sans-serif;