// Colours

$offWhite: #fcf5e9;
$offBlack: black;
$darkBlue: #020834;
$lightBlue: #405885;
$blueWhite: #FAFBFF;
$accent: #FCF5C3;
$accentIntense: #FCBB6B;

// Fonts

$mainFont: 'EB Garamond', serif;
$headingFont: 'Palanquin Dark', sans-serif;
